<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Forms</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form action = "{{ url_for('post_to_twitter') }}" method = "post">

          <div class="form-group">
            <label for="status">What will you like to post:</label><br>
            <input type="text" name="status">
            <br></br>
            <p><input type = "submit" value = "send to twitter" /></p>
          </div>


        </form>
      </div>
      <div class="col-md-6">
        <form action = "{{ url_for('post_to_reddit') }}" method = "post">

          <div class="form-group">
            <label for="subr">Channel:</label>
            <input type="text" name="subr"><br></br>
            <label for="title">Title:</label>
            <input type="text" name="title"><br></br>
            <label for="status">What will you like to post:</label>
            <input type="text" name="status">
            <br></br>
            <p><input type = "submit" value = "send to reddit" /></p>
          </div>


        </form>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</body>
<script src="https://d3js.org/d3.v5.min.js"></script>
</html>